#form1 {
  padding: 10px;
}

#header {
  background-color: rgb(221, 124, 21);
  padding: 10px;
  color: white;
  font-size: 20px
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(20, 146, 224);
  height: 150px;
  padding: 20px;
  color: white;
}